body{
    padding: 0;
    margin: 0;
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    color: cadetblue;
    font-family: "Inter", sans-serif;
    text-align: center;
}

h2{
    color: grey;
    font-family: "Inter", sans-serif;
    text-align: center;
}
